@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>

<div>
    <ul>
        <li>Genre: @Model.GenreType.GenreName</li>
        <li>Release Date: @Model.ReleaseDate.ToLongDateString()</li>
        <li>Date Added: @Model.DateAdded.ToLongDateString()</li>
        <li>Number in Stock: @Model.InStock</li>
    </ul>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
